/* .container {
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
}

.Sih1 {
    text-align: center;
}

.Siinp {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.Sibut {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

.Sibut:hover {
    background-color: #0B63DC;
    color: #fff;
}
.cont {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}

.h1 {
    color: #333;
}

.inp {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    opacity: 0.8;
}

.tab {
    width: 100%;
} */